<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.major.bmxt.mapper.UserMapper">

	<insert id="insertUser">
		INSERT INTO tb_user (username, password, province) VALUES (#{username}, #{password}, #{province})
	</insert>

	<select id="selectUserByAdmAndPw" resultType="com.major.bmxt.model.TbUser">
		SELECT * FROM tb_user WHERE username = #{username} AND password = #{password}
	</select>

	<select id="selectUserByUsername" resultType="com.major.bmxt.model.TbUser">
		SELECT * FROM tb_user WHERE username = #{username}
	</select>

	<select id="selectUserNameByProvince" resultType="String">
		SELECT username FROM tb_user WHERE province = #{province}
	</select>
</mapper>