/*实现响应式布局*/

/*@media screen and (max-width: 300px) {*/
    .header-title > h1{
        width: 100%;
        font-size: 20px;
    }
    .header-title > h3{
        width: 100%;
        font-size: 15px;
    }
    .login-form{
        width: 250px;
        height: 100px;
        /*background-color: rgba(255,255,255,1);*/
        margin: 10px auto;
        background-color: yellow;
    }
/*}*/