.modal-dialog-add{
    width: 800px;
    /*border: 1px solid;*/
    margin: 50px auto;
}
.modal-content-add{
    width: 100%;
    height: 500px;
}
.modal-left{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 300px;
    padding: 10px;
}
.modal-left > input[type='file']{
    border-radius: 5px;
}
.modal-right{
    display: inline-block;
    vertical-align: top;
    width: 560px;
    height: 350px;
}
.pic-container{
    width: 180px;
    height: 240px;
    border: 1px solid rgba(119,136,153,0.9);
    border-radius: 3px;
}
.pic-container > img{
    width: 180px;
    height: 240px;
}
.pic-name{
    display: inline-block;
    vertical-align: top;
    width: 126px;
    height: 30px;
    font-size: 10px;
}
.search-file{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    background-color: #2aabd2;
    color: #eeeeee;
    text-decoration: none;
    border-radius: 4px;
}
.search-file:hover{
    text-decoration: none;
    color: #eeeeee;
}
.file-upload{
    position: absolute;
    opacity: 0;
    filter:alpha(opacity=0);
    right: 0;
    top: 0;
}
.add-input-container{
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-top: 50px;
}
.add-checkbox-container{
    margin-top: 50px;
    width: 75%;
}
.add-checkbox-container > div > span{
    font-weight: 900;
}
.add-input-container > input{
    /*border-radius: 3px;*/
    width: 65%;
}
.add-input-container > select{
    border-radius: 3px;
    height: 25px;
    width: 65%;
}
.my-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    min-width: 1280px;
}
.header{
    width: 100%;
    height: auto;
}
.header-wrap{
    width: 100%;
    height: auto;
}
.header-wrap > nav {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(107,191,255,1);
    color: #eeeeee;
}
.navbar > a{
    color: #eeeeee;
}
.section{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.section-wrap{
    width: 100%;
    height: auto;
}
.section-left{
    position: fixed;
    display: inline-block;
    vertical-align: top;
    width: 10%;
    min-width: 128px;
    height: 100%;
    background-color: rgba(52,61,68,1);
}
.list-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(30,40,46,1);
    text-align: center;
    color: #eeeeee;
}
.section-right{
    display: inline-block;
    vertical-align: top;
    width: 89%;
    min-width: 1139px;
    height: auto;
    /*margin-left: 11%;*/
    float: right;
}
.section-right > .breadcrumb{
    height: 40px;
    margin: 0;
}
.tool-bar{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.tool-bar > a{
    text-decoration: none;
    font-weight: 900;
    color: #0f0f0f;
}
.tool-bar-detail{
    display: inline-block;
    vertical-align: top;
    float: right;
}
.tool-bar-detail > a{
    margin-left: 20px;
    color: #0f0f0f;
}
.search-container{
    width: 100%;
    height: 110px;
    background-color: rgba(245,245,245,1);
}
.input-container{
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}
.input-container > label{
    text-align: right;
    letter-spacing: 5px;
}
.input-container:nth-child(6){
    padding-left: 100px;
}
.input-container > input{
    width: 65%;
    height: 30px;
}
.input-container > select{
    width: 65%;
    height: 30px;
}
.input-container > button{
    width: 80px;
}
.input-container > button:nth-child(2){
    margin-left: 30px;
}
.athletes-info{
    text-align: center;
}
.athletes-info > thead > tr > th{
    text-align: center;
}
.athletes-info > thead > tr > th > a{
    float: right;
}
.athletes-info > tbody > tr > td{
    padding: 4px;
    text-align: center;
    line-height: 25px;
}
.change,.delete{
    height: 25px;
    line-height: 15px;
}
.change{
    margin-left: -65px;
}
.pageNation{
    float: right;
    right: 50px;
}
.footer{
    width: 100%;
    height: auto;
}
.footer-wrap{
    width: 100%;
    height: auto;
}