@font-face {
    font-family: 'iconfont';  /* project id 646783 */
    src: url('https://at.alicdn.com/t/font_646783_5joirdjsi7w1xlxr.eot');
    src: url('https://at.alicdn.com/t/font_646783_5joirdjsi7w1xlxr.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_646783_5joirdjsi7w1xlxr.woff') format('woff'),
    url('https://at.alicdn.com/t/font_646783_5joirdjsi7w1xlxr.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_646783_5joirdjsi7w1xlxr.svg#iconfont') format('svg');
}
.quit{
    font-family: "iconfont";
    font-size: 15px;
    font-style: normal;
    float: right;
    cursor: pointer;
}
.modal-content{
    height: 500px;
}
.modal-body{
    height: 355px;
    overflow-y: scroll;
}
.boat{
    padding: 5px;
    width: 60%;
    margin: 20px auto;
    border: 1px solid transparent;
}
.boat:hover{
    border: 1px solid rgba(105,105,105,0.7);
}
.boat:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
.athlete-input{
    width: 100%;
}
.my-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    min-width: 1280px;
}
.header{
    width: 100%;
    height: auto;
}
.header-wrap{
    width: 100%;
    height: auto;
}
.header-wrap > nav {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(107,191,255,1);
    color: #eeeeee;
}
.navbar > a{
    color: #eeeeee;
}
.section{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.section-wrap{
    width: 100%;
    height: auto;
}
.section-left{
    position: fixed;
    display: inline-block;
    vertical-align: top;
    width: 10%;
    height: 100%;
    background-color: rgba(52,61,68,1);
}
.list-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(30,40,46,1);
    text-align: center;
    color: #eeeeee;
}
.section-right{
    display: inline-block;
    vertical-align: top;
    width: 89%;
    height: auto;
    margin-left: 11%;
}
.section-right > .breadcrumb{
    height: 40px;
    margin: 0;
}
.item-title{
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
}
.signup-info-head > tr > th:nth-child(3) > a{
    float: right;
}